/*Body as a Flex parent setting parameters for the children header, main and footer.*/
body {
  font-family: akzidenz-grotesk, Open Sans, ui-sans-serif, system-ui;
  font-size: x-large;
  background: #DABFAE;
  color: #DABFAE;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  gap: 10px;
}

/*Header is a child to body and a CSS grid parent to the headers, image and hamburger menu.*/
header {
  /* background-color: #3F4E3D; */
  background-image: url(./images/berryfield.jpg);
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 50px;
}

.header-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  border: 2px solid #3F4E3D;
  background-color: #6A7A5C;

}

h1 {
  flex: 1;
}

h2 {
  font-weight: 100;
  flex: 1;
  font-size: large;
}

.hamburger-menu {
  flex: 1;
}

.selection {
  display: none;
}

/*Main is a Flex parent to child article, positioning the articles.*/
main {
  /*font-size: large;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/*Article is a Flex child to main and a CSS grid with column and multiple rows, positioning the parameters inside like header, paragraf, image and button.*/
article {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

p {
  color: black;
  font-size: x-large;
}

.berry {
  background-color: #6A7A5C;
  padding: 2px;
  border: 2px solid #3F4E3D;

}

.berry h3 {
  font-size: xxx-large;
}


.berry p {
  font-size: large;
}

.berry-img {
  width: 100%;
}

button {
  width: 100%;
  height: 100%;
  background-color: #DABFAE;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
}

.order-form {
  background-color: #6A7A5C;
  padding: 2px;
  border: 2px solid #3F4E3D;
  display: flex;
  flex-direction: column;

}

output {
  display: inline;
}

/*Footer is Flex parent positioning navigation, facebook and instagram image and links.*/
footer {
  background-color: #3F4E3D;
  gap: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Responsive for mobile, tablet, desktop and widescreen. Changing the Flex direction from column for mobile to row for tablet, desktop and widescreen.*/

/* Mobile */
@media only screen and (max-width: 500px) {

  /*Hiding .nav home, about and contact for mobile*/
  .nav {
    display: none;
  }

}

/* Tablet */
@media (min-width: 501px) and (max-width: 768px) {
  main {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .content {
    width: 100%;
  }

  body {
    font-size: large;
  }

  .berry h3 {
    font-size: xx-large;
  }

  .berry p {
    font-size: large;
  }

  p {
    color: black;
    font-size: large;
  }

  .berry-img {
    width: 300px;
  }

  button {
    font-size: large;
  }

}

/* Desktop */
@media (min-width: 769px) and (max-width: 1200px) {

  /*Parent to .content and article .berry*/
  main {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  /*Child to main*/
  .content {
    width: 100%;
    /*font-size: x-large;*/
  }

  .berry-img {
    width: 300px;
  }

}

/* wideScreen */
@media (min-width: 1201px) {

  /*Parent to .content and article .berry*/
  main {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  /*Child to main*/
  .content {
    width: 100%;
  }

  .berry-img {
    width: 300px;
  }
}